<label class="control-label">{{label}}</label>
<div class="row">
  <div class="col-md-6 field">
    <label class="control-label">{{labelFrom}}</label>
    <input type="text" value={{model.valueFrom}}  class="form-control text" />
  </div>
  <div class="col-md-6 field">
    <label class="control-label">{{labelTo}}</label>
    <input type="text" value={{model.valueTo}}  class="form-control text" />
  </div>
</div>
