<div id="links">

    <div class="widget-title font-thin">
        <span>Available {{counter}} image(s)</span>
    </div>

    {{#each filteredFiles as |file|}}

        {{#unless isShowMode}}

            <div style="margin-bottom: 15px;" class="row">

                <a class="col-xs-3 left item-{{file.id}}" href="{{file.publicUrl}}">
                    <img src="{{file.publicUrl}}">
                </a>

                <div class="col-xs-9 left item-{{file.id}} container-title">

                    <div class="row">
                        <div class="col-xs-12 font-thin">{{t 'user.profile.title'}}:</div>
                        <div class="col-xs-12">{{input class="form-control" value=file.title}}</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 font-thin">{{t 'user.profile.description'}}:</div>
                        <div class="col-xs-12">{{input class="form-control" value=file.description}}</div>
                    </div>

                    <span {{action 'delete' file}} class="fa fa-close red-color text-md action-icon"></span>
                    {{#sl-tooltip tagName="span" title="Save"}}
                        <span {{action 'update' file}}><span
                                class="fa fa-save red-color text-md action-icon"></span></span>
                    {{/sl-tooltip}}
                </div>

            </div>

        {{else}}

            <div class="row">

                <a class="col-xs-4 m-t left item-{{file.id}}" href="{{file.publicUrl}}" title="{{file.title}}">
                    <img src="{{file.publicUrl}}">
                </a>

                <div class="col-xs-8 m-t left">
                    <div class="m-t-lg"><div class="font-thin">{{t 'user.profile.title'}}:</div> {{file.title}}</div>
                    <div class="m-t"><div class="font-thin">{{t 'user.profile.description'}}:</div> {{file.description}}</div>
                </div>

            </div>

        {{/unless}}

    {{else}}
        <span class="text-muted text-sm">{{t 'general.no.data'}}</span>
    {{/each}}

</div>