
<label class="control-label">{{label}}</label>

<form>
    <label class="radio-inline">
        <input type="radio" value="1" class="" name={{name}} checked={{yesChecked}} /> {{t "tp-boolean.choice.label.yes" }}
    </label>
    <label class="radio-inline">
        <input type="radio" value="0" class="" name={{name}} checked={{noChecked}} /> {{t "tp-boolean.choice.label.no" }}
    </label>
</form>


