<label class="control-label">{{label}}</label>

<form>
    <label class="radio-inline">
        <input type="radio" value="1" class="" name={{name}} checked={{oneChecked}} /> 1
    </label>
    <label class="radio-inline">
        <input type="radio" value="2" class="" name={{name}} checked={{twoChecked}} /> 2
    </label>
    <label class="radio-inline">
        <input type="radio" value="3" class="" name={{name}} checked={{threeChecked}} /> 3
    </label>
    <label class="radio-inline">
        <input type="radio" value="4" class="" name={{name}} checked={{fourChecked}} /> 4
    </label>
    <label class="radio-inline">
        <input type="radio" value="5" class="" name={{name}} checked={{fiveChecked}} /> 5
    </label>
</form>
